absl-py
albucore
albumentations
annotated-doc
annotated-types
anyio
bert-score
certifi
charset-normalizer
click
colorama
contourpy
cycler
filelock
fonttools
fsspec
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
Jinja2
joblib
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
networkx
nltk
numpy
opencv-python
opencv-python-headless
packaging
pandas
pillow
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
PyYAML
regex
requests
rich
rouge_score
safetensors
scipy
setuptools
shellingham
simsimd
six
stringzilla
sympy
tokenizers
tqdm
transformers
typer
typing-inspection
typing_extensions
tzdata
urllib3
underthesea
tensorboard
peft
qwen_vl_utils
bitsandbytes
gradio
trl
google
ollama